@use "sass:math";
@import '~rupture-sass/rupture';
@import './rupture.scss';
$grid_height:30;

$grid_column_base:math.div(100,16);
$grid_column_base__double: 2*$grid_column_base;
.graella{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin:0;
    font-size: 12px;
    &__column{
        display:none;
        flex-wrap: wrap;
        flex-direction: column;
        @include above('l'){
            display: flex;
        }
        &--hours{
            width: #{$grid_column_base+'%'};
            box-sizing: border-box;
            // &:first-child{
            //     display: flex;
            // }
        }
        &--day{
            box-sizing: border-box;
            width: 100%;
            @include above('l'){
                width: #{$grid_column_base__double + '%'};
            }
        }
    }
    &__block{
        border: 1px solid black;
        box-sizing: border-box;
        height:#{$grid_height}px;
        display: flex;
        flex-direction: column;
        padding: 8px;
        @include above('l'){
            padding: 0;
            justify-content: center;
            text-align: center;
        }
        &--heading{
            text-transform: uppercase;
            background-color: #3b3b3b;
        }
        &--hour{
            justify-content: flex-start;
            border:none;
            background-color: #3b3b3b;
            color:#ddd;
            &:nth-child(2n){
                border-top: 1px solid black;
            }
        }
        &--block{
            color: white;
            font-weight: bold;
            @include above('l'){
                font-weight: normal;
            }
            a,a:hover,a:visited,a:active{
                color: white !important;
            }
        }
        &--musica{
            background-color: #3b3b3b;
            color: #6e6e6e;
            font-weight: normal;
        }
        &--contrabanda{
            background-color: blue;
        }
        &--directe{
            background-color: red;
        }
        &--podcast{
            background-color: green;
        }
        @for $i from 1 through 48 {
            &--duration-#{$i}{
                height: auto;
                @include above('l'){
                    height: #{$i*$grid_height}px;
                }
            }
        }
    }
    &__block-time{
        color: #fff;
        @include above('l'){
            display: none;
        }
    }
    &__labels{
        margin-top: 32px;
        display: flex;
        padding-left: 0;
        justify-content: center;
        @include above('l'){
            display: none;
        }
        &.large{
            display:none;
            @include above('l'){
                display: flex;
            }
        }
        li{
            font-size: 12px;
            font-weight: bold;
            color: #fff;
            list-style: none;
            padding: 0.5rem 1rem;
        }
    }
    $setmana: (
        'dilluns',
        'dimarts',
        'dimecres',
        'dijous',
        'divendres',
        'dissabte',
        'diumenge'
    );
    @each $day_graella in $setmana{
        &.#{$day_graella}{
            @each $day_column in $setmana{
                @if $day_graella == $day_column{
                    .graella__column--#{$day_column}{
                        display:flex;
                    }
                }
            }
        }
    }
}

.program{
    &__metas{
        background-color: #ddd;
        padding: 16px;
        border-radius: 16px;
        margin-bottom:32px;
        display: flex;
        flex-direction: column;
        @include above(xl){
            flex-direction: row;
        }
        a,a:hover,a:active,a:visited{
            color: inherit;
        }
        p:last-child{
            margin-bottom: 0;
        }
    }
    &__thumb{
        margin-right: 32px;
    }
    &__schedule{
        p,ul{
            margin-bottom: 0;
        }
        li{
            list-style: none;
        }
    }
    &__links{
        a:hover{
            text-decoration: none;
        }
    }
    &__podcast{
        strong{
            a{
                font-weight: 500;
            }
        }
    }
}
.navigation{
    &.nav{
        @include above('l'){
            display: none;
        }
    }
    &__item{
        &--button{
            &.nav-link{
                padding: .5rem;
            }
        }
    }
}